* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #0a192f;
  color: #ccd6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#__next {
  height: 100%;
}
